body {
    margin:0;
    width:100vw;
    height:100vh;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

h1 {
    grid-column: 1 / 3;
    text-align: center;
}

section {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

section h2 {
    text-align: center;
}

section {
    border-top: 1px solid black;
}

section:first-of-type, section:nth-of-type(3) {
    border-right: 1px solid black;
}

figure {
    max-width:30%;
    max-height:30%;
}


/* EXERCICE 1 */
#glass-body{
    animation-delay: 1s;
    animation-name: billy;
     animation-duration: 2s;
     animation-fill-mode: forwards;
     
}
@keyframes billy {
    from {
        fill: #ffffff;
    }
    to {
        fill: #7400b8;
    }
}





/* EXERCICE 2 */
.bubble.tiny-bubble{
    animation-delay: 1s;
    animation-name: billy2;
    animation-duration: 4s;
     animation-fill-mode: forwards;
}

@keyframes billy2 {
    from {
        transform : translateY(0vh);
    }
    to {
        transform : translateY(-50vh);
    }
}
.bubble.small-bubble{
     animation-delay: 1s;
    animation-name: billy3;
    animation-duration: 4s;
     animation-fill-mode: forwards;
}
@keyframes billy3 {
    from {
        transform : translateY(0vh);
    }
    to {
        transform : translateY(-40vh);
    }
}
.bubble.middle-bubble{
    animation-delay: 1s;
    animation-name: billy4;
    animation-duration: 4s;
     animation-fill-mode: forwards;
}
@keyframes billy4 {
    from {
        transform : translateY(0vh);
    }
    to {
        transform : translateY(-30vh);
    }
}
.bubble.big-bubble{
     animation-delay: 1s;
    animation-name: billy5;
    animation-duration: 4s;
     animation-fill-mode: forwards;
}
@keyframes billy5 {
    from {
        transform : translateY(0vh);
    }
    to {
        transform : translateY(-20vh);
    }




/* EXERCICE 3 */

/*
    couleurs :
    niveau 1 #7400b8:
    niveau 2 #5e60ce:
    niveau 3 #4ea8de:
    niveau 4 #56cfe1:
    niveau 5 #72efdd:
*/

#ex3 figure {
    max-width:40%;
    max-height:40%;
}
.st42:nth-of-type(1){
    animation-delay: 1s;
    animation-name: exo3;
}
.st42:nth-of-type(2){
    animation-delay: 1s;
    animation-name: exo3;
}
.st42:nth-of-type(3){
    animation-delay: 1s;
    animation-name: exo3;
}
@keyframes exo3 {
     from {
        fill: #ffffff;
    }
    to {
        fill: #7400b8;
    }
}

/* EXERCICE 4 */